@import "../../styles/variables.scss";
.button {
    background-color: $primary;
    border: none;
    padding: 8px 16px;
    color: white;
    font-family: $fontFamily;
    border-radius: 5px;
    user-select: none;
    font-size: 0.9rem;
    font-weight: bold;
    transition: all 0.2s;
    display: inline-block;
    text-align: center;

    &:hover {
        background-color: darken($color: $primary, $amount: 10%);
    }

    &:focus {
        box-shadow: 0 4px 8px
            rgba($color: darken($color: $primary, $amount: 20%), $alpha: 0.24);
    }
    &:disabled {
        background-color: lightgrey;
    }
    &.secondary {
        background-color: transparent;
        color: $primary;

        &:hover,
        &:focus {
            background-color: rgba($color: $primary, $alpha: 0.15);
        }
    }
}

:export {
    primaryColor: $primary;
}
