@import "../../styles/variables.scss";
.commentContainerParent {
    padding: 16px;
    margin-bottom: 16px;

    p {
        margin: 0;
    }

    button {
        background: none;
        border: none;
    }

    ul {
        margin: 0;
        padding: 0;
        padding-left: 14px;
    }

    .reply {
        border-left: 1px solid rgba($color: #000000, $alpha: 0.07);
    }

    .header {
        opacity: 0.5;
        font-size: 0.8rem;
        margin-bottom: 4px;
    }

    .commentContainer {
        padding-left: 16px;
        .comment {
            padding: 8px 0;
            display: flex;
            gap: 12px;

            a {
                color: darkblue;
            }

            &.last {
                padding-bottom: 0;
            }

            > .content {
                flex: 1;
                padding-bottom: 10px;

                p:not(.header) {
                    margin: 6px 0;
                }

                &.last {
                    padding-bottom: 0;
                }
            }
        }
    }

    > .commentContainer {
        padding-left: 0;

        .comment {
            padding-top: 0;
        }
    }
}

.collapsedComment {
    &.reply {
        margin: 8px;
        margin-left: 16px;
        border-left: 1px solid rgba($color: #000000, $alpha: 0.07);
    }

    > p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        div {
            display: inline;
        }
    }

    *:not(img) {
        opacity: 0.75;
    }
}

.readmore {
    color: $primary;
    padding: 8px 12px;
    margin: 4px;

    &:hover {
        background-color: rgba($color: $primary, $alpha: 0.07);
    }
}
