@import "../../styles/variables.scss";
.form {
    img {
        background-color: #5b5b5b;
        border-radius: 4px;
        width: 32px;
        height: 32px;
        border: 1px solid rgba($color: #000000, $alpha: 0.15);
    }

    p {
        margin: 0;
        line-height: 32px;
        margin-bottom: 8px;
        font-size: 0.9rem;
        opacity: 0.33;
        user-select: none;
        cursor: text;
        font-weight: 300;
        flex: 1;
    }

    .textEditor {
        display: flex;
        align-items: center;

        span {
            margin-right: 4px;
            opacity: 0.33;
        }
    }
}
