@import "../../styles/variables.scss";
.container {
    @mixin buttonState($color, $amount: 30%) {
        color: $color !important;
        font-weight: bold;

        &:is(button) {
            background-color: lighten(
                $color: $color,
                $amount: $amount
            ) !important;
        }
    }
    // .upvoted {
    //     @include buttonState($primary);
    // }
    // .downvoted {
    //     @include buttonState(#059ff6, 40%);
    // }

    header {
        padding: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;

        > a {
            font-size: 0.8rem;
            opacity: 0.33;
            padding: 5px;
            display: block;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 12px;

            &:hover {
                background-color: rgba($color: #000000, $alpha: 0.12);
            }
        }

        > div {
            flex: 1;

            h2 {
                font-size: 0.9rem;
                margin: 0;
                font-weight: 500;
            }
            p {
                font-size: 0.8rem;
                margin: 0;
                opacity: 0.33;
            }
        }
    }

    .content {
        padding-bottom: 12px;
        position: relative;

        &::after {
            content: "";
            display: block;
            height: 1px;
            left: 16px;
            right: 16px;
            bottom: 0;
            position: absolute;
            background-color: rgba($color: #000000, $alpha: 0.07);
        }

        .imageContainer {
            overflow: hidden;
            margin-bottom: 12px;
            border-radius: 8px;

            img {
                border-radius: 8px;
                width: 100%;
            }
        }

        h2 {
            font-size: 1rem;
            margin: 0 16px;
            letter-spacing: -0.2px;
        }

        .text {
            margin: 0;
            margin-top: 4px;
            padding: 0 16px;
            font-size: 0.8rem;
            opacity: 0.5;
            font-weight: 100;

            &.capped::after {
                content: "...";
            }
        }

        .linkCard {
            padding: 12px 16px;
            display: block;
            margin: 8px 16px;
            margin-top: 0;
            background-color: rgba($color: #000000, $alpha: 0.07);
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 0.9rem;
            color: rgba($color: #000000, $alpha: 0.75);
            transition: background-color 0.2s;

            &:hover {
                background-color: rgba($color: #000000, $alpha: 0.12);
            }
        }
    }

    .toolbar {
        padding: 16px;
        padding-top: 12px;

        .buttonsRow {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            > div {
                display: flex;
                gap: 8px;
            }

            button,
            a {
                $color: #000;
                $backgroundColor: #ececec;
                $size: 28px;
                height: $size;
                font-family: $fontFamily;
                font-size: 0.9rem;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                gap: 4px;
                padding: 4px 8px;
                border: none;
                border-radius: 4px;
                transition: background-color 0.2s;

                &:hover {
                    background-color: darken(
                        $color: $backgroundColor,
                        $amount: 5%
                    );
                }

                &.squared {
                    width: $size;
                }

                p {
                    display: inline;
                    margin: 0;
                }
            }
        }
    }
}
